@using Mongo.Models.Recipe;
@model RecipeModel;

@{
    Layout = "_Layout1";
}

@section Styles {
    <link rel="stylesheet" href="~/css/constructor_style.css">
}
@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>\
    <script src="~/js/constructor.js"></script>
}

@using (Html.BeginForm("Constructor", "Recipe", FormMethod.Post))
{
    <section class="label">
        <div class="container">
            <div class="label__inner">
                @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "label__title", placeholder = "Введите название", type = "text", required = "" } })
                @Html.ValidationMessageFor(x => x.Title)
                <button class="label__btn">Загрузить обложку</button>
            </div>
        </div>
    </section>
    <section class="instruk">
        <div class="container">
            <div class="instruk__inner">
                <form action="#" class="form">
                    <div class="form__items">
                        @*<div class="form__chart1">
                            <img class="form__bar" src="~/images/constructor/bar.png" alt="">
                        </div>*@
                        <div class="form__chart1">

                            @*<div class="checkpoint">
                                    <div class="form__item1">
                                        Накройте свиные стейки пленкой и оставить мариноваться. Время от
                                        времени переворачивайте кусочки.
                                    </div>

                                    <ul class="form__item2">
                                        <li>
                                            <div class="text">- Стейк свиной</div>
                                            <div class="num"> 200 гр.</div>
                                        </li>
                                        <li>
                                            <div class="text">- Масло оливковое для маринада</div>
                                            <div class="num">200 кг.</div>
                                        </li>
                                    </ul>
                                </div>*@
                            <div id="checkpoints" style="display:block;" data-count="1">
                                @await Html.PartialAsync("_Checkpoint")
                            </div>

                            <div class="form__btns">
                                <button class="red-btn form__btn-check btn-add-checkpoint">Добавить</button>
                                <button class="red-btn form__btn-check" type="submit">Опубликовать</button>
                            </div>

                            <div class="form__buon">Buon Appetito!</div>
                        </div>

                    </div>
                    
                </form>
            </div>
        </div>
    </section>

}


