@using Mongo.Models.Recipe
@model RecipeModel
@{
    Layout = "_Layout1";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/page1_style.css">
    <link rel="stylesheet" href="~/css/timeline.css">
    <link rel="stylesheet" href="~/css/timer.css" />
}
@section Scripts{
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="~/js/webSpeechAPI.js"></script>
    <script src="~/js/timer.js"></script>
    <script src="~/js/timeline.js"></script>
}
<div id="Data" style="display:none">
    @foreach (var item in Model.Checkpoints)
    {
        <span class="checkpoint-desc">@item.Description</span>
        @if (String.IsNullOrEmpty(item.TimerSeconds))
        {
            <span class="checkpoint-timer">@item.TimerSeconds</span>
        }
        else
        {
            <span class="checkpoint-timer">empty</span>
        }
    }
</div>
<section class="meal">
    <div class="container2">
        <div class="meal__inner">
            <div class="meal__items__recipe">
                <div class="meal__stars">5.0</div>
                <a class="meal__profile-link" href="#">
                    <img class="meal__profile-img" src="~/images/page1/prifile.png" alt="">
                </a>
            </div>
            <h1 class="meal__title">Классический стейк</h1>
            <div class="meal__descr">10 минут</div>
        </div>
    </div>
</section>

<div id="app"
     :class="progressClasses">
    <div class="progress__bg"></div>
    <template v-for="(step, index) in steps">
        <div :class="stepClasses(index)">
            <div class="progress__indicator">
                <i class="fa fa-check"></i>
            </div>
            @*<div class="progress__label">
                    {{step.label}}
                </div>*@
        </div>
    </template>

    <div class="progress__actions">
        <div class="recept-container">
            {{currentStep ? currentStep.content : "Начать приготовление блюда"}}
        </div>
        <div class="controls__container">
            <div class="group__btns">
                <button class="btn btn-timeline-controls"
                        v-on:click="nextStep(false)">
                    Назад
                </button>
                <button class="btn btn-timeline-controls"
                        v-on:click="nextStep">
                    Далее
                </button>
            </div>
            <div class="hint__container">
                <div class="ingredients__item">Или скажите «</div>
                <div class="int__mark"> Дальше</div>
                <div class="ingredients__item">»</div>
            </div>
        </div>

    </div>
</div>


<section class="recipe">
    <div class="container2">
        <div class="recipe__inner">
            <div class="ingredients">
                <h4 class="ingredients__title">Ингредиенты:</h4>
                <div class="ingredients__items">
                    @if (Model.Ingredients != null)
                    {
                        @foreach (var rec in Model.Ingredients)
                        {
                            <div class="ingredients__item">
                                <div class="ingredients__item-name">@rec.Title</div>
                                <div class="ingredients__item-num">@rec.Amount</div>
                            </div>
                        }
                    }
                </div>
                <div class="ingredients__btn-items">
                    <button class="ingredients__btn">В избранное</button>
                    <button class="ingredients__btn">Начать</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="countdown-bar" id="countdownA">
    <div></div>
    <div></div>
</div>
