
@{
    Layout = "_Layout1";
}

@section Styles {
    <link rel="stylesheet" href="~/css/page1_style.css">
}
<section class="meal">
    <div class="container2">
        <div class="meal__inner">
            <div class="meal__items">
                <div class="meal__stars">5.0</div>
                <a class="meal__profile-link" href="#">
                    <img class="meal__profile-img" src="~/images/page1/prifile.png" alt="">
                </a>
            </div>
            <h1 class="meal__title">Классический стейк</h1>
            <div class="meal__descr">10 минут</div>
        </div>
    </div>
</section>
<section class="recipe">
    <div class="container2">
        <div class="recipe__inner">
            <div class="ingredients">
                <h4 class="ingredients__title">Ингредиенты:</h4>
                <div class="ingredients__items">
                    <div class="ingredients__item">
                        <div class="ingredients__item-name">- Стейк свиной</div>
                        <div class="ingredients__item-num">200 гр.</div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__item-name">- Стейк свиной</div>
                        <div class="ingredients__item-num">200 гр.</div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__item-name">- Стейк свиной</div>
                        <div class="ingredients__item-num">200 гр.</div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__item-name">- Стейк свиной</div>
                        <div class="ingredients__item-num">200 гр.</div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__item-name">- Стейк свиной</div>
                        <div class="ingredients__item-num">200 гр.</div>
                    </div>
                </div>
                <div class="ingredients__btn-items">
                    <button class="ingredients__btn red-btn">В избранное</button>
                    <button class="ingredients__btn red-btn">Начать</button>
                </div>
            </div>
        </div>
    </div>
</section>