#app {
    font-family: Arial;
    /*text-transform: capitalize;*/
}

.progress {
    position: relative;
    top: -3vh;
    width: 0%;
    height: 4px;
    background-color: #FFFFFF;
    transition: width .2s;
}

    .progress.progress--1 {
        width: calc(20%);
    }

    .progress.progress--2 {
        width: calc(40%);
    }

    .progress.progress--3 {
        width: calc(60%);
    }

    .progress.progress--4 {
        width: calc(80%);
    }

    .progress.progress--5 {
        width: calc(100%);
    }

    .progress.progress--complete {
        width: 100vw;
    }

.progress__bg {
    position: absolute;
    width: 100vw;
    height: 4px;
    background-color: #7A7A7A;
    z-index: -1;
}

.progress__step {
    position: absolute;
    top: -5px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .progress__step.progress__step--1 {
        left: calc(20vw - 9px);
    }

    .progress__step.progress__step--2 {
        left: calc(40vw - 9px);
    }

    .progress__step.progress__step--3 {
        left: calc(60vw - 9px);
    }

    .progress__step.progress__step--4 {
        left: calc(80vw - 9px);
    }

    .progress__step.progress__step--5 {
        left: calc(100vw - 9px);
    }

    .progress__step.progress__step--active {
        color: #2183DD;
        font-weight: 600;
    }

    .progress__step.progress__step--complete .progress__indicator {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .progress__step.progress__step--complete .progress__indicator .fa {
            display: block;
        }

    .progress__step.progress__step--complete .progress__label {
        font-weight: 600;
        color: #009900;
    }

.progress__indicator {
    width: 14px;
    height: 14px;
    border: 2px solid #7A7A7A;
    border-radius: 50%;
    background-color: #7A7A7A;
    margin-bottom: 10px;
}

    .progress__indicator .fa {
        display: none;
        font-size: 16px;
        color: #FFFFFF;
    }

.progress__label {
    position: absolute;
    top: 40px;
}

/*.progress__actions {
    position: absolute;
    top: 75px;
    left: 1000px;
    display: flex;
    align-items: right;
    width: max-content;
    flex-direction: column;
}*/


.progress__wrapper {
    width: 100vw;
    position: relative;
}

.progress__actions {
    position: absolute;
    top: 75px;
    right: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 360px;
    transform: translateX(100%);
}

@media(max-width: 800px) {
    .progress__actions {
        position: static;
        margin-left: 20px;
        transform: none;
    }
    .progress {
        height: auto;
    }
}

    
    /*.btn {
    width: fit-content;
    padding: 5px 8px;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

    .btn:nth-child(2) {
        margin: 0 10px;
    }*/
    /*.progress__actions {
    width: 100vw;
}*/
    .group__btns {
        display: flex;
        flex-direction: row;
    }

.recept-container {
    width: 100%;
    margin-top: 30px;
}


.btn-timeline-controls {
    font-family: "NotoSans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fe6d73;
    text-decoration: none;
    margin-right: 20px;
    background-color: white;
}

.hint__container {
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.int__mark {
    font-family: "NotoSans";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fe6d73;
    text-decoration: none;
    background-color: white;
}

.meal__items__recipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
}

.recept-container {
    font-family: "NotoSans";
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #555555;
    text-decoration: none;
    margin-bottom: 15px;
}