<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CookBookServer</title>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <h1 class="header__title">ВашСуШеф.рф</h1>
                <div class="header__descr">
                    Станьте шеф-поваром вместе с вашим персональным
                    помощником на кухне.
                </div>
                <div class="header__items">
                    <button class="header__btn red-btn">Войти</button>
                    <div class="header__create">
                        <div class="header__create-label">Нет аккаунта?</div>
                        <a class="header__create-link" href="#">Создайте его!</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <h2 class="footer__title">Суши? Пицца? Стейк?</h2>
                <div class="footer__text">
                    <div class="footer__text-item">
                        Ваш Су Шеф - интерактивная поваренная книга, где каждый может
                        найти рецепт интересного блюда или загрузить собственный,
                        поделившись им с тысячами других пользователей сервиса.
                    </div>
                    <div class="footer__text-item">
                        Хотите попробовать традиционный английский зватрак, порадовать
                        домашних вкусным обедом или приготовить романтический ужин?
                        Станьте шеф-поваром вместе с нашим онлайн-помощником!
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
