@*
    
*@
@{
}


<div>Регистрация!</div>

<div>
    @using (Html.BeginForm("SignUp", "Auth", FormMethod.Post))
    {
        <p class="field">
            <input type="text" name="Email" placeholder="Введите адрес электронной почты" />
            <i class="icon-user icon-large"></i>
        </p>
        <p class="field">
            <input type="text" name="Login" placeholder="Задайте логин" />
            <i class="icon-user icon-large"></i>
        </p>
        <p class="field">
            <input type="text" name="FirstName" placeholder="Введите имя" />
            <i class="icon-user icon-large"></i>
        </p>
        <p class="field">
            <input type="text" name="LastName" placeholder="Введите фамилию" />
            <i class="icon-user icon-large"></i>
        </p>

        <p class="field">
            <input type="password" name="Password" placeholder="Задайте пароль" />
            <i class="icon-lock icon-large"></i>
        </p>
        <p class="submit">
            <button type="submit" name="submit"><i class="icon-arrow-right icon-large">Зарегистрироваться</i></button>
        </p>
    }
</div>
