@{
    Layout = "_Layout";
    ViewData["Title"] = "Главная";
}
@section Styles {
    <link rel="stylesheet" href="~/css/index_style.css">
}
<section class="statistics">
    <div class="container">
        <div class="statistics__inner">
            <div class="statistics__item">
                <div class="statistics__item-num">14000</div>
                <div class="statistics__item-descr">
                    Рецептов<br>
                    создано
                </div>
            </div>
            <div class="statistics__item">
                <div class="statistics__item-num">1200</div>
                <div class="statistics__item-descr">
                    Шефов<br>
                    зарегистрировано
                </div>
            </div>
            <div class="statistics__item">
                <div class="statistics__item-num">170</div>
                <div class="statistics__item-descr">
                    Блюд приготовлено<br>
                    сегодня
                </div>
            </div>
        </div>
    </div>
</section>
<section class="recipes">
    <div class="container">
        <div class="recipes__inner">
            <h2 class="recipes__title">Любимые рецепты шефов:</h2>
            <div class="recipes__items">
                <div class="recipes__item">
                    <div class="recipes__img">
                        <img src="~/images/header/meet.png" alt="">
                    </div>
                    <div class="recipes__info">
                        <div class="recipes__info-stars">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                        </div>
                        <h4 class="recipes__info-title">Классический стейк</h4>
                        <div class="recipes__info-time">10 минут</div>
                    </div>
                </div>
                <div class="recipes__item">
                    <div class="recipes__img">
                        <img src="~/images/header/meet.png" alt="">
                    </div>
                    <div class="recipes__info">
                        <div class="recipes__info-stars">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                        </div>
                        <h4 class="recipes__info-title">Классический стейк</h4>
                        <div class="recipes__info-time">10 минут</div>
                    </div>
                </div>
                <div class="recipes__item">
                    <div class="recipes__img">
                        <img src="~/images/header/meet.png" alt="">
                    </div>
                    <div class="recipes__info">
                        <div class="recipes__info-stars">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                            <img src="~/images/header/star.png" alt="">
                        </div>
                        <h4 class="recipes__info-title">Классический стейк</h4>
                        <div class="recipes__info-time">10 минут</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>